
body {
  background-color: #0c1c2c;
  color: #f2e9e4;
}

header {
  background-color: rgba(26, 31, 43, 0.5);
  color: #f2e9e4;
  text-align: center;
  padding: 10px;
  border-radius: 20px;

}

h1 {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 3em;
}

h2 {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 2em;
  font-weight: 200;
}

h3 {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 1.5em;
  font-weight: 200;
}

h4 {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}

h5 {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 1em;
  font-weight: 200;
}

h6 {
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 0.8em;
  font-weight: 200;
}

p {
  font-family: "Roboto ", sans-serif;
  font-size: 1em;
}

a {
  font-family: "Roboto", sans-serif;
  color: #f2e9e4;
  text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

nav a {
  color: #f2e9e4;
  text-decoration: none;
  padding: 14px 25px;
}

nav a:hover {
  color: #f2e9e4;
  background-color: rgba(221, 128, 41, 0.5);
  border-radius: 20px;
}


footer {
  text-align: right;
}

footer p {
  font-size: 0.8em;
  margin-right: 10px;
}



.first-name {
  font-weight: 700;
}

.last-name {
  font-weight: 200;
}

.socials {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.socials img {
    filter: invert(100%) sepia(100%) saturate(750%) hue-rotate(180deg) brightness(100%) contrast(100%);
    width: 32px;
    height: 32px;
    margin: 20px;
}

.no-touch-device #projects button:hover {
  color: #f2e9e4;
  background-color: rgba(221, 128, 41, 0.5);
  border-radius: 20px;
}


#projects button {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin: 0 auto;
  background: none;
  border: none;
  color: #f2e9e4;
  font-size: 1.0em;
  width: 100%;
  padding: 10px; 
  cursor: pointer; 
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}

#projects button span {
  transition: transform 0.3s ease-in-out;
}

#projects img {
  width: 100px;
  height: 100px;
}

#about {
  background-color: rgba(26, 31, 43, 0.5);
  color: #f2e9e4;
  text-align: center;
  background-position: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

#projects {
  background-color: rgba(26, 31, 43, 0.5);
  color: #f2e9e4;
  text-align: center;
  background-position: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

#courses {
  background-color: rgba(26, 31, 43, 0.5);
  color: #f2e9e4;
  text-align: center;
  background-position: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

#experience {
  background-color: rgba(26, 31, 43, 0.5);
  color: #f2e9e4;
  text-align: center;
  background-position: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .socials {
    flex-direction: column;
  }
  .socials img {
    width: 24px;
    height: 24px;
    margin: 10px;
  }
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
    margin-bottom: 10px;
  }

  nav a {
    padding: 0;
    margin: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  #projects button:hover {
    color: #f2e9e4;
    background-color: rgba(221, 128, 41, 0.5);
    border-radius: 20px;
  }
}









